---
import Layout from "../../layouts/Layout.astro";
import PictureGrid from "../../components/PictureGrid.astro";

const pageTitle = "Gallery";
---

<Layout title={pageTitle}>
  <h1>{pageTitle}</h1>
  <PictureGrid />
</Layout>
