@font-face {
  font-family: VHS;
  src: url(/VHS.ttf);
}

:root {
  --color-primary: rgb(0, 245, 255);
  --color-secondary: rgb(234, 4, 126);
  --color-light: #fafafa;
  --color-dark: #030303;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: VHS;
  letter-spacing: 2px;
  text-transform: uppercase;
}
body {
  background: var(--color-dark) url(/bground.svg) repeat center;
  height: 100%;
  margin: 0;
  padding: 1rem;
  min-height: 100vh;
  color: var(--color-light);
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: var(--color-light);
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
