---
import Layout from "../layouts/Layout.astro";
import FeaturedPosts from "../components/FeaturedPosts.astro";

const pageTitle = "About";
---

<Layout title={pageTitle}>
  <h1>{pageTitle}</h1>
  <p class="paragraph">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro nostrum
    tempore ducimus velit, est aliquid vel expedita recusandae eos officia
    dolores accusamus cupiditate unde quas mollitia, aperiam dolorem molestias
    vitae facilis autem, debitis nobis temporibus perspiciatis. Assumenda
    aspernatur, tenetur obcaecati error, asperiores enim, vitae nulla expedita
    modi nam quos nemo! Quos aliquid voluptatum consequuntur, quidem beatae,
    modi harum ipsum, et laborum sunt non pariatur adipisci vitae iusto
    veritatis est! Minus consequatur quaerat aut reprehenderit eius aperiam
    atque quas facilis, et ut dignissimos fugit, necessitatibus sit cumque
    asperiores rerum inventore ullam ipsa ea nobis minima autem! Rem dignissimos
    nemo a voluptatem facere, perferendis quas architecto doloremque eaque ipsum
    id, error in inventore atque repudiandae vero? Incidunt corporis tenetur
    delectus nisi distinctio, ab voluptatem suscipit labore sint placeat sunt
    reiciendis illum consectetur ipsam facere cumque quod optio quia eligendi?
    Rerum nihil eveniet, quisquam minus magnam veniam et molestiae sed iste
    ratione officia consectetur voluptates consequuntur laudantium a dolore
    deleniti velit atque quibusdam natus earum tenetur deserunt facilis
    perspiciatis? Laboriosam sunt iure quis eius debitis qui id libero rerum ab
    aspernatur mollitia ipsum dolor, voluptatem quod quibusdam reiciendis quasi,
    aliquam nobis veritatis facere magni. Nobis magni voluptatem natus
    dignissimos rem nulla vero pariatur quod quidem. Delectus dolorum laboriosam
    dolore deserunt sunt ratione placeat blanditiis maiores, quisquam qui
    exercitationem cumque, voluptatibus animi minima! Itaque recusandae dolore
    at omnis facere dolorum adipisci ipsam ut quae nulla explicabo ducimus
    nobis, laboriosam delectus autem laborum. Aliquid hic assumenda earum sint
    quo, distinctio placeat nihil quaerat repellendus fuga ea dolores,
    obcaecati, aspernatur sit explicabo ducimus. Nihil pariatur aliquam ut illo
    vel. Explicabo eligendi earum assumenda eveniet repudiandae vel doloribus,
    porro in. Mollitia rem debitis dolorem facere, quaerat illo sapiente non
    dolorum velit consequatur voluptate modi ducimus explicabo in possimus?
    Perspiciatis dignissimos repudiandae fugiat unde quo, impedit ratione?
    Dolore.
  </p>
  <FeaturedPosts />
</Layout>
