---
import Layout from "../layouts/Layout.astro";

import PostGrid from "../components/PostGrid.astro";

const pageTitle = "Blog";
---

<Layout title={pageTitle}>
  <h1>{pageTitle}</h1>
  <PostGrid />
</Layout>
