---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Home";
---

<Layout title={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta nulla autem
    consectetur perferendis! Distinctio similique ullam unde amet, quaerat
    necessitatibus eos perspiciatis cum obcaecati placeat, rerum nemo commodi
    quibusdam reprehenderit tenetur odio, repellat reiciendis illum
    exercitationem! Dolorem cum ipsum debitis autem molestias quae aut maiores
    similique dolorum ex unde, molestiae perspiciatis corrupti cumque
    blanditiis. Veniam ullam, tempora et quisquam recusandae maiores dolor minus
    doloremque id optio. Commodi velit, assumenda hic eligendi eaque modi. Nisi,
    esse fuga molestiae aspernatur facere iusto, excepturi distinctio officiis
    fugit maiores quo eius et sit assumenda optio, laboriosam fugiat. Esse minus
    id voluptate recusandae nulla. Doloribus sequi iste necessitatibus
    perspiciatis, nemo molestiae earum dignissimos error, adipisci blanditiis,
    atque dolore distinctio. Animi, et quis. Eaque, modi et.
  </p>
</Layout>
