---
---

<footer class="footer">
  <p>
    &copy; 2022 By <a
      href="https://webcreations.dev"
      target="_blank"
      rel="noopener noreferrer"
    >
      Web Creations
    </a>
  </p>
</footer>
<style>
  .footer p {
    text-align: center;
    font-family: VHS;
  }
</style>
