---
const logo = "LOGO";
const path = Astro.url.pathname;
---

<header class="header">
  <a href="/">
    <div class="logo">{logo}</div>
  </a>
  <nav>
    <ul class="nav-list">
      <li>
        <a href="/" class={`${path === "/" && "active"}`}>HOME</a>
      </li>
      <li>
        <a href="/about" class={`${path === "/about" && "active"}`}>ABOUT</a>
      </li>
      <li>
        <a href="/blog" class={`${path === "/blog" && "active"}`}>BLOG</a>
      </li>
    </ul>
  </nav>
</header>
<style>
  .header .logo {
    font-family: VHS;
    font-size: 3rem;
    text-align: center;
  }
  .header .nav-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    justify-content: center;
    font-family: VHS;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  .header .nav-list a {
    color: var(--color-secondary);
    opacity: 0.8;
  }
  .header .nav-list li a:hover {
    opacity: 1;
    text-shadow: 1px 1px 4px var(--color-secondary);
  }
  .header .nav-list li a.active {
    text-decoration: underline;
    text-shadow: 1px 1px 4px var(--color-secondary);
    opacity: 1;
  }
  .header .nav-list > li + li {
    margin-left: 1rem;
  }
</style>
