---
import PostCard from "./PostCard.astro";

const posts = await Astro.glob("../pages/posts/*.md");
const publishedPosts = posts.filter((p) => !p.frontmatter.draft);
---

<section class="post-list">
  {publishedPosts.map((p) => <PostCard post={p} />)}
</section>
<style>
  .post-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
  }
  @media (min-width: 420px) {
    .post-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 8px;
    }
  }
  @media (min-width: 768px) {
    .post-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 8px;
    }
  }
</style>
