---
import PostCard from "./PostCard.astro";
const { posts } = Astro.props;
---

<section class="post-list">
  {
    posts.map(
      (p: {
        url: string;
        frontmatter: { featImage: { src: string; alt: string }; title: string };
      }) => <PostCard post={p} />
    )
  }
</section>
<style>
  .post-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
  }
  @media (min-width: 420px) {
    .post-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 8px;
    }
  }
  @media (min-width: 768px) {
    .post-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 8px;
    }
  }
</style>
