---
const { post } = Astro.props;
const { title, featImage, featured } = post.frontmatter;
---

<a href={post.url}>
  <div class="post-card">
    {featured && <div class="featured">featured</div>}
    <figure>
      <img src={featImage.src} alt={featImage.alt} width="300" height="200" />
    </figure>
    <div class="text-content">
      <h3>{title}</h3>
    </div>
  </div>
</a>
<style>
  .post-card {
    transition: all 0.4s ease-in;
    position: relative;
  }
  .post-card figure {
    overflow: hidden;
    width: 100%;
    margin: auto;
  }
  .post-card img {
    max-height: 160px;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: top;
    transition: transform 0.6s ease-out;
  }
  .post-card:hover {
    background: var(--color-secondary);
  }
  .post-card:hover img {
    transform: scale(1.2);
  }
  .post-card .featured {
    background: var(--color-secondary);
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 4px 16px;
    border-radius: 100px;
    font-family: VHS;
    text-transform: uppercase;
    z-index: 10;
  }
  .post-card .text-content {
    padding: 4px;
  }
</style>
